!!!
%html{:lang => "en"}
  %head
    %title Pomarity
    %meta{ :charset => "utf-8", :name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=0"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,300italic,100italic,400italic,500italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,400,300,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tag

  %body
    .container
      = render 'layouts/header'
      = yield
    = js_vars_tag
